p {
	font-size: 1.2rem;
}

h1 {
	color: black;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
}

h3 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
}

em {
	color: #fcf422;
}
.noPadding {
	padding-left: 0;
	padding-right: 0;
}

/* banner for mobile */
.big-banner {
	background-image: url('../images/bannermobile.svg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 95vh;
	width: 100%;
	margin-left: 0;
}

.big-heading {
	color: #fcf422;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	padding: 8rem 0.8rem 2rem 0.8rem;
	font-size: 1.6rem;
	line-height: 3rem;
}

.download-button {
	margin: 0% 2% 5% 0;
	border-radius: 10px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1rem;
	margin-top: 2rem;
}

.custom1 {
	background-color: #fcf422;
	color: black;
}

.custom1:hover {
	color: black;
	background-color: white;
}

.custom2 {
	color: #fcf422;
	border-color: #fcf422;
}

.custom2:hover {
	color: black;
	background-color: white;
	border-color: white;
}

.navbar-custom {
	background-color: black;
	padding: 3% 10%;
}

.nav-item {
	font-family: 'Titillium Web', sans-serif;
	padding: 0 2rem;
}

.nav-item:last-child {
	padding: 0 0rem 0 2rem;
}

.navbar-brand {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
}

.navbar-toggler-icon {
	width: 1rem;
	height: 1rem;
}

.arrow {
	color: #fcf422;
	margin: 1.5rem auto;
}

@media (min-width: 410px) {
	.big-heading {
		font-size: 2rem;
		line-height: 4rem;
		padding: 12rem 1.8rem 4rem 1.8rem;
	}
}

@media (min-width: 641px) {
	.big-heading {
		font-size: 3rem;
		line-height: 5rem;
		padding: 10rem 1.8rem 3rem 1.8rem;
	}

	.navbar-custom {
		padding: 1.6% 10%;
	}

	.navbar-brand {
		font-size: 2.2rem;
	}

	.download-button {
		font-size: 1.6rem;
	}

	.navbar-toggler-icon {
		width: 2rem;
		height: 2rem;
	}

	.arrow {
		margin: 2rem auto;
	}
}

@media (min-width: 961px) {
	.big-heading {
		font-size: 3.1rem;
		padding: 18rem 2rem 4rem 2rem;
	}
	.download-button {
		font-size: 1.5rem;
		margin: 0% 2% 5% 0;
	}
	.arrow {
		margin: 1rem auto;
	}

	.navbar-custom {
		padding: 1% 10%;
	}
}

@media (min-width: 1025px) {
	.big-banner {
		background-image: url('../images/bannerbig.svg');
	}

	.big-heading {
		font-size: 3.1rem;
		padding: 20rem 2rem 4rem 2rem;
	}

	.download-button {
		margin: 0% 2% 5% 0;
		font-size: 1.2rem;
	}

	.navbar-custom {
		padding: 1% 10%;
	}

	.nav-item {
		font-size: 1.2rem;
		font-family: 'Titillium Web', sans-serif;
	}

	.navbar-brand {
		font-size: 1.8rem;
	}
}

/* Features */

#features {
	position: relative;
	padding: 7% 10%;
}

.feature-item {
	padding: 4.5%;
}

.feature-title {
	font-size: 1.7rem;
}

.icon {
	color: black;
	margin-bottom: 1.5rem;
}

.icon:hover {
	color: #09080c;
}

/* Testimonial Section */

#testimonials {
	background-color: black;
}

.testimonial-text {
	padding: 10%;
	font-size: 2.5rem;
	line-height: 1.5;
	color: #fcf422;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
}

.carousel-item {
	padding-bottom: 3%;
}

/* Pricing Section */
#pricing {
	padding: 100px;
}

.pricing-column {
	padding: 3% 2%;
}

.pricing-text {
	font-size: 2rem;
	line-height: 1.5;
}

footer {
	background-color: black;
	color: white;
}
.social-icon {
	margin: 20px 10px;
}
.footer {
	padding: 5%;
}
.sign {
	font-size: 1rem;
	margin-bottom: 0;
	padding-bottom: 3%;
}
